<!-- start: Header -->
<nav class="navbar navbar-default header navbar-fixed-top shadow">
	<div class="nav-wrapper">
		<div class="navbar-header" style="width:100%;">
			<a href="index.html" class="navbar-brand"> 
				<b style="color: #212121">Starfeed</b>
			</a>

			<ul class="nav navbar-nav navbar-right user-nav" style="margin: 10px;">
				<a class="btn ripple btn-round" style="background-color: #212121;" ng-click="logout()">
					<div>
						<span style="color: #fff">LOGOUT</span>
					</div>
				</a>
			</ul>
		</div>
	</div>
</nav>
<!-- end: Header -->

<div class="container-fluid mimin-wrapper" ng-controller="HomeController" id="homeController">
	<!-- start: Content -->
	<div id="content" style="margin-top: 100px;">
		<div class="form-element">
			<div class="padding-0">
				<div class="panel" style="padding:30px;">

					<div class="row">
						<div class="form-group center-block">
							<div class="d-flex">
								<div class="form-group form-animate-text c-datepicker-btn">
									<input type="text" ui-number-mask data-toggle="datepicker" ng-model="home.dataFilter" class="form-text" required>
									<span class="bar"></span>
									<label><span class="fa fa-calendar"></span> Selecione a data</label>
								</div>
							</div>
						</div>
					</div>

					<div class="row" style="text-align: center;">
						<div class="form-group" ng-if="home.allMaterias.length == 0">
							<div href="#" class="panel panel-card">
								<div class="text-center">
									<p>Você não tem nenhuma aula hoje.</p>
								</div>
							</div>
						</div>
						<div class="form-group" ng-if="home.allMaterias.length > 0">
							<div class="panel panel-card" ng-repeat="materia in home.allMaterias" onmousedown="mouseDown()" onmouseup="mouseUp()" ontouchstart="mouseDown()" ontouchend="mouseUp()" ng-click="pesquisarFeedbacks(materia.codMateria)">
								<div class="text-center">
									<p>{{materia.nomeMateria}}</p>
								</div>
							</div>
						</div>

						<p> Clique e segure no card para acessar a lista de chamada </p>
					</div>

					<script type="text/javascript">

						$('[data-toggle="datepicker"]').datepicker({
							format: 'dd/mm/yyyy',
							autoHide: true,
							days: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
							daysShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb'],
							daysMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S'],
							months: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
							monthsShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
						}).on('pick.datepicker', function (event) {
							angular.element('#homeController').scope().loadMaterias(event.date);
							angular.element('#homeController').scope().$apply();
						});

						var press = false;

						function mouseUp() {
							press = false;
						}

						function mouseDown() {
							press = true;
							window.setTimeout(function() {
								if(press){
									angular.element('#homeController').scope().gotoPresence();
								}

								press = false;
							},500);

						}
					</script>
				</div>
			</div>

			<div class="col-md-12 padding-0">
				<div class="col-md-12 center" style="padding:10px;">

					<div class="row" style="text-align: center;">
						<div class="panel panel-card" style="width: 300px; font-size: 15px; margin: 0;" ng-if="home.feedbacks.length <= 0 || home.dataLoading == true">
							<div class="text-center">
								<p ng-if="home.dataLoading == false">Nenhum feedback encontrado.</p>
								<p ng-if="home.dataLoading == true">Carregando...</p>
							</div>
						</div>
					</div>

					<div class="row" style="text-align: center;">
						<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
							<div class="grid-item" ng-repeat="feedback in home.feedbacks">
								<div class="panel panel-card-feedback">
									<div class="text-center">
										<p>{{feedback.AvaliacaoAluno.nota_avaliacao}} estrelas</p>

										<div ng-if="feedback.AvaliacaoAluno.descricao_avaliacao">
											<div class="panel">
												<div style="margin: 10px; padding: 10px;">
													{{feedback.AvaliacaoAluno.descricao_avaliacao}}
												</div>
											</div>
										</div>

										<div ng-if="feedback.CardBoard">
											<div class="panel panel-cardboard" ng-repeat="card in feedback.CardBoard">
												<img ng-src="assets/{{card.icone}}.png" class="img-card" alt="Smiley face" height="20" width="20">
												<p>{{card.nome_emocao}}</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
